.at-jumbotron {
  padding: 40px 0;
}

.at-jumbotron_main {
  text-align: center;
  font-size: 30px;
  .text-main();
}
.at-jumbotron_desc {
  text-align: center;
  .text-tip();
  font-size: 13px;
  padding: 0 30px;
}
